@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar for Webkit browsers */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar */
  }
  
 
  
  /* Custom scrollbar for Firefox */
  .custom-scrollbar {
    scrollbar-width: thick;
    scrollbar-color: #e15b5b #DC2626 ; /* thumb color and track color */
  }
  